{% extends "base.html" %} {% block content%}

<div id="home" class="container-fluid">

    <div class="row">
        <div id="tron" class="jumbotron container col-10 offset-1" style="text-align:center; height:400px width:400px; opacity:0.75;">
            <h1 class="display-4">CORRUPTION REPORTS.</h1>

            <hr class="my-4">
            <p class="lead">Vision: TO ELIMINATE CORRUPTION IN KENYA</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>

    </div>
</div>


{% endblock content%}