 {% extends "base.html" %} {% load crispy_forms_tags %} {% block content%}
<div class="container jumbotron" style="margin-top: 70px; margin-bottom: 150px;">
    <h2>Report Corruption</h2>

    <form class="form-horizontal" role="form" action="" method="post">
        {% csrf_token %}

        <p class="form-group" style="text-align: center;">
            {{ form.complain|as_crispy_field }}
        </p>
        <p class="form-group" style="text-align: center;">
            {{ form.corruptiontype|as_crispy_field }}
        </p>
        <p class="form-group" style="text-align: center;">
            {{ form.entity|as_crispy_field }}
        </p>
        <p class="form-group" style="text-align: center;">
            {{ form.county|as_crispy_field }}
        </p>
        <p class="form-group" style="text-align: center;">
            {{ form.description|as_crispy_field }}
        </p>
        <p class="form-group" style="text-align: center;">
            {{ form.cityortown|as_crispy_field }}
        </p>
        <p class="form-group" style="text-align: center;">
            {{ form.name|as_crispy_field }}
        </p>
        <p class="form-group" style="text-align: center;">
            {{ form.phone|as_crispy_field }}
        </p>
        <input type="submit" value="Submit" />
    </form>
</div>


{% endblock content%}